@import 'materialize-css/sass/components/_color-variables.scss';
@import 'materialize-css/sass/components/_color-classes.scss';

$primary-color: color('indigo', 'darken-4');
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color('cyan', 'darken-2');
$link-color: color('indigo', 'accent-3');

@import 'materialize-css/sass/materialize.scss';
